<template>
  <v-app>
    <v-navigation-drawer
      expand-on-hover
      v-if="isAuthenticated"
      app
      v-model="drawer"
      :mini-variant.sync="mini"
      permanent
      hide-overlay
    >
      <v-list-item v-if="!isLoading">
        <v-list-item-avatar>
          <v-img :src="userImage"></v-img>
        </v-list-item-avatar>

        <v-list-item-title>{{user.DISPLAY_NAME}}</v-list-item-title>
        <v-btn icon @click.stop="mini = !mini">
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </v-list-item>
      <v-divider></v-divider>
      <v-list dense>
        <v-list-item
          v-for="item in items"
          :to="item.path == '#' ? '' : item.path"
          :key="item.title"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <template v-slot:append>
        <v-list-item @click="logOut()" link>
          <v-list-item-icon>
            <v-icon>mdi-exit-to-app</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Çıkış</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-navigation-drawer>
    <v-content>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
    <v-footer app></v-footer>
  </v-app>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  name: "App",
  components: {},
  computed: {
    ...mapGetters(["user", "isAuthenticated"]),
    userImage() {
      if (this.isAuthenticated) {
        return `http://intranet.uma.com.tr/sites/mysite/User%20Photos/Profil%20Resimleri/${this.user.USERNAME}_MThumb.jpg`;
      } else {
        return "";
      }
    }
  },
  data: () => ({
    drawer: true,
    isLoading: true,
    items: [
      { title: "Anasayfa", icon: "mdi-home-city", path: "/" },
      {
        title: "Müşteri",
        icon: "mdi-account-group-outline",
        path: "/musteriler"
      },
      {
        title: "Talepler",
        icon: "mdi-deskphone",
        path: "/talepler"
      },
      { title: "Hesabım", icon: "mdi-account" }
    ],
    mini: false
    //
  }),
  methods: {
    logOut() {
      this.$store.dispatch("resetState").then(() => {
        this.$router.push("/giris");
      });
    }
  },
  created() {
    if (this.isAuthenticated) {
      this.$store.dispatch("getCurrentUser").then(() => {
        this.isLoading = false;
      });
    }
  }
};
</script>
<style lang="scss" >
.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: #d2d2d2 !important;
}
</style>