<template>
  <v-form :lazy-validation="lazy" ref="form" v-model="valid">
    <v-card class="elevation-0" v-if="!isLoading">
      <v-toolbar color="#426295" dark flat>
        <v-icon>mdi-ticket-account</v-icon>
        <v-toolbar-title class="ml-4">
          <span>{{ ticket.PK }} - {{ ticket.SUBJECT }}</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-icon>mdi-account-circle</v-icon>
        <v-toolbar-title class="ml-4">
          <span>{{ ticket.Customer.P_NAME }}/{{ticket.ResponsibleUser.DISPLAY_NAME}}</span>
        </v-toolbar-title>
        <template v-slot:extension>
          <v-tabs v-model="tab" align-with-title background-color="transparent">
            <v-tabs-slider color="white"></v-tabs-slider>
            <v-tab v-for="item in items" :key="item">{{ item }}</v-tab>
          </v-tabs>
        </template>
      </v-toolbar>
      <v-tabs-items v-model="tab">
        <v-tab-item>
          <v-card color="#fafafa" :elevation="0">
            <v-row no-gutters>
              <v-col cols="12">
                <v-card class="ma-3 pa-3 pb-0">
                  <v-row>
                    <v-col cols="12" sm="3">
                      <v-autocomplete
                        :rules="required"
                        label="Kategori"
                        dense
                        item-text="NAME"
                        item-value="PK"
                        v-model="ticket.REASONCATEGORY_PK"
                        :items="requirements['ReasonCategory']"
                      ></v-autocomplete>
                      <v-autocomplete
                        :rules="required"
                        no-data-text="Lütfen öncelik seçiniz"
                        item-text="NAME"
                        dense
                        item-value="PK"
                        label="Alt Kategori"
                        v-model="ticket.REASONSUBCATEGORY_PK"
                        :items="requirements['ReasonSubCategory']"
                      ></v-autocomplete>
                      <v-autocomplete
                        :rules="required"
                        dense
                        item-text="NAME"
                        item-value="PK"
                        label="Şikayet Kök Nedeni"
                        v-model="ticket.ROOTREASON_PK"
                        :items="requirements['RootReason']"
                      ></v-autocomplete>
                    </v-col>
                    <v-col cols="12" sm="3">
                      <v-autocomplete
                        :rules="required"
                        label="Talep Tipi"
                        dense
                        item-text="NAME"
                        item-value="PK"
                        v-model="ticket.TYPE_PK"
                        :items="requirements['Type']"
                      ></v-autocomplete>
                      <v-autocomplete
                        :rules="required"
                        no-data-text="Lütfen öncelik seçiniz"
                        item-text="NAME"
                        item-value="PK"
                        dense
                        label="Öncelik"
                        v-model="ticket.PRIORITY_PK"
                        :items="requirements['Priority']"
                      ></v-autocomplete>
                      <v-autocomplete
                        :rules="required"
                        item-text="NAME"
                        dense
                        item-value="PK"
                        label="Kaynak"
                        v-model="ticket.SOURCE_PK"
                        :items="requirements['Source']"
                      ></v-autocomplete>
                    </v-col>
                    <v-divider vertical></v-divider>
                    <v-col cols="12" sm="4">
                      <v-autocomplete
                        label="Memnuniyet Durumu"
                        item-text="NAME"
                        dense
                        item-value="PK"
                        v-model="ticket.SATISFIEDSTATE_PK"
                        :items="requirements['SatisfiedState']"
                      ></v-autocomplete>
                      <v-autocomplete
                        item-text="NAME"
                        item-value="PK"
                        dense
                        label="Ticket Durumu"
                        v-model="ticket.STATE_PK"
                        :items="requirements['State']"
                      ></v-autocomplete>
                      <v-autocomplete
                        item-text="NAME"
                        item-value="PK"
                        dense
                        label="Kapatma nedeni"
                        v-model="ticket.CLOSEREASON_PK"
                        :items="requirements['CloseReason']"
                      ></v-autocomplete>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
              <v-col cols="6">
                <v-card class="ma-3 pa-3 mb-0 pb-0">
                  <v-row>
                    <v-col class="ma-1 pa-1 ml-2" cols="4">
                      <v-autocomplete
                        :search-input.sync="searchInvoice"
                        no-data-text="Şasi bulunamadı"
                        item-text="P_CHASSISNUMBER"
                        item-value="P_CHASSISNUMBER"
                        dense
                        v-model="ticket.CHASSIS_NUMBER"
                        :items="invoices"
                        label="Şasi Numarası"
                        @change="getWorkorders()"
                      >
                        <template slot="item" slot-scope="data">
                          <v-row>
                            <v-col class="ma-0 pt-0 pb-0">
                              <v-list-item-content>
                                <v-list-item-title>
                                  {{ data.item.P_CHASSISNUMBER }} -
                                  <span
                                    class="font-weight-light"
                                  >{{data.item.P_MATERIALDESC}}</span>
                                </v-list-item-title>
                              </v-list-item-content>
                            </v-col>
                          </v-row>
                        </template>
                      </v-autocomplete>
                    </v-col>
                    <v-col class="ma-1 pa-1 ml-2" cols="4">
                      <v-autocomplete
                        label="Marka"
                        item-text="NAME"
                        item-value="PK"
                        dense
                        v-model="ticket.BRAND_PK"
                        :items="requirements['Brand']"
                        autocomplete="false"
                      ></v-autocomplete>
                    </v-col>
                    <v-col class="ma-1 pa-1 ml-2" cols="3">
                      <v-autocomplete
                        @change="getSubCategories"
                        item-text="NAME"
                        dense
                        item-value="CATEGORY_PK"
                        label="Kategori"
                        v-model="ticket.CATEGORY_PK"
                        :items="brandCategories"
                        autocomplete="false"
                      ></v-autocomplete>
                    </v-col>
                    <v-col class="ma-1 pt-1 pb-0" cols="6">
                      <v-combobox
                        label="Model"
                        :items="subCategories"
                        autocomplete="false"
                        dense
                        v-model="ticket.MODEL"
                      ></v-combobox>
                    </v-col>
                    <v-col cols="9">
                      <v-combobox
                        dense
                        item-text="Maktx"
                        item-value="Matnr"
                        chips
                        :disabled="isLoading"
                        v-model="ticket.Spareparts"
                        label="Yedek Parça"
                        :items="spareparts"
                        autocomplete="false"
                        multiple
                        return-object
                        deletable-chips
                      >
                        <template v-slot:selection="data">
                          <app-spareparts-chip :chip="data"></app-spareparts-chip>
                        </template>
                        <template slot="item" slot-scope="data">
                          <v-row @click="addSpareparts(data)">
                            <v-col class="ma-0 pt-0 pb-0">
                              <v-list-item-content>
                                <v-list-item-title>
                                  {{ data.item.Maktx }} -
                                  <span
                                    class="font-weight-light"
                                  >{{data.item.Matnr}}</span>
                                </v-list-item-title>
                                <span>2210: {{data.item.Labstks}} | 2212: {{data.item.Labstgs}}</span>
                                <p>Perakende Fiyatı: {{ data.item.PerakendeFiyat }} ₺</p>
                                <p>Uyumlu Modeller: {{ data.item.Atwrt }}</p>
                              </v-list-item-content>
                            </v-col>
                          </v-row>
                        </template>
                      </v-combobox>
                      <v-radio-group
                        class="ma-0 pa-0"
                        dense
                        :rules="required"
                        v-model="ticket.SPAREPARTSTYPE_PK"
                        row
                      >
                        <template v-for="type in requirements['Sparepartstype']">
                          <v-radio :key="type.PK" :label="type.NAME" :value="type.PK"></v-radio>
                        </template>
                      </v-radio-group>
                      <v-text-field
                        class="ma-0 pa-0"
                        v-if="ticket.SPAREPARTSTYPE_PK == 1"
                        dense
                        v-model="ticket.WORKORDER_NO"
                        label="İş Emri Numarası"
                        outlined
                      ></v-text-field>
                      <v-text-field
                        v-else
                        class="ma-0 pa-0"
                        dense
                        v-model="ticket.ORDER_NO"
                        label="Sipariş Numarası"
                        outlined
                      ></v-text-field>
                    </v-col>
                    <v-col class="ma-0 pt-0 pb-0" cols="12" sm="12">
                      <!-- {{ticket.Spareparts}} -->
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
              <v-col cols="6">
                <v-card class="ma-3">
                  <v-col>
                    <v-combobox
                      dense
                      :loading="isLoading"
                      :search-input.sync="searchDealer"
                      no-data-text="Bayi bulunamadı"
                      item-text="M_ADI"
                      item-value="M_KODU"
                      v-model="ticket.DEALER_CODE"
                      :items="dealers"
                      label="Bayi"
                      :return-object="false"
                    >
                      <template slot="item" slot-scope="data">
                        <v-row>
                          <v-col class="ma-0 pt-0 pb-0">
                            <v-list-item-content>
                              <v-list-item-title>
                                {{ data.item.M_ADI }} -
                                <span
                                  class="font-weight-light"
                                >{{data.item.M_KODU}}</span>
                              </v-list-item-title>
                              <!-- <span>2210: {{data.item.Labstks}} | 2212: {{data.item.Labstgs}}</span> -->
                              <p>Telefon: {{ data.item.M_TELEFON }}</p>
                              <p>Mail: {{ data.item.M_MAIL }}</p>
                              <p>{{ data.item.M_IL }}/{{data.item.M_ILCE}}</p>
                            </v-list-item-content>
                          </v-col>
                        </v-row>
                      </template>
                      <!-- <template
                      slot="item"
                      slot-scope="data"
                      >{{ data.item.M_ADI }} - {{data.item.M_KODU}}</template>-->
                    </v-combobox>
                  </v-col>
                  <v-divider></v-divider>
                  <v-row class="pa-3">
                    <v-col cols="6">
                      <v-text-field
                        readonly
                        dense
                        v-model="ticket.Customer.P_NAME"
                        label="Müşteri Ad"
                        outlined
                      ></v-text-field>
                      <v-text-field
                        readonly
                        dense
                        v-model="ticket.Customer.P_EMAIL"
                        label="E-Posta"
                        outlined
                      ></v-text-field>
                    </v-col>
                    <v-col>
                      <v-text-field
                        readonly
                        dense
                        v-model="ticket.Customer.P_TELNO"
                        label="Telefon"
                        outlined
                      ></v-text-field>
                      <v-text-field
                        readonly
                        dense
                        :value="`${ticket.Customer.P_IL}-${ticket.Customer.P_ILCE}`"
                        label="İl/İlçe"
                        outlined
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
              <!-- Son aktiviteler burada gözüküyor (alert) -->
              <v-col class="pa-3 mb-0 pb-0">
                <v-alert
                  color="cyan"
                  border="left"
                  elevation="2"
                  colored-border
                  dense
                  :icon="latestActivity.TYPE == 'Mail' ? 'mdi-email-outline':'mdi-comment-text-outline'"
                >
                  <span v-if="latestActivity.TYPE == 'Mail'">Mail Gönderildi</span>
                  <span v-else>{{latestActivity.TEXT}}</span>
                  <small>{{ latestActivityDate(latestActivity.CREATEDTS) }}</small>
                </v-alert>
              </v-col>
              <!-- Son aktiviteler burada gözüküyor SON -->
              <v-col cols="12">
                <v-card class="ma-3 pa-2">
                  <v-row>
                    <v-col cols="3">
                      <v-btn-toggle @change="setMailType" v-model="textType" borderless>
                        <v-tooltip bottom>
                          <template v-slot:activator="{ on }">
                            <v-btn v-on="on" value="Text">
                              <!-- <span class="hidden-sm-and-down">Ulaşılamadı</span> -->
                              <v-icon>mdi-comment-text-outline</v-icon>
                            </v-btn>
                          </template>
                          <span>Aktivite</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                          <template v-slot:activator="{ on }">
                            <v-btn v-on="on" value="Mail">
                              <!-- <span class="hidden-sm-and-down">İletişim</span> -->
                              <v-icon>mdi-email-outline</v-icon>
                            </v-btn>
                          </template>
                          <span>Mail</span>
                        </v-tooltip>
                      </v-btn-toggle>
                      <!-- Mail Toggle butonalrı-->
                      <div v-if="textType == 'Mail'">
                        <v-btn-toggle v-model="mailType" borderless>
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                              <v-btn v-on="on" value="Default">
                                <!-- <span class="hidden-sm-and-down">Taksit</span> -->
                                <v-icon size="18">mdi-credit-card</v-icon>
                              </v-btn>
                            </template>
                            <span>Default</span>
                          </v-tooltip>
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                              <v-btn v-on="on" value="Ulaşılamadı">
                                <!-- <span class="hidden-sm-and-down">Ulaşılamadı</span> -->
                                <v-icon size="18">mdi-headset-off</v-icon>
                              </v-btn>
                            </template>
                            <span>Ulaşılamadı Bilgisi</span>
                          </v-tooltip>
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                              <v-btn v-on="on" value="İletişim">
                                <!-- <span class="hidden-sm-and-down">İletişim</span> -->
                                <v-icon size="18">mdi-comment-text-outline</v-icon>
                              </v-btn>
                            </template>
                            <span>İletişim Bilgisi</span>
                          </v-tooltip>
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on }">
                              <v-btn v-on="on" value="Taksit">
                                <!-- <span class="hidden-sm-and-down">Taksit</span> -->
                                <v-icon size="18">mdi-credit-card</v-icon>
                              </v-btn>
                            </template>
                            <span>Taksit Bilgilendirmesi</span>
                          </v-tooltip>
                        </v-btn-toggle>
                        <v-text-field
                          class="mt-3"
                          name="email"
                          dense
                          label="Mail"
                          :rules="emailRules"
                          v-model="ticket.Customer.P_EMAIL"
                        ></v-text-field>
                        <v-combobox
                          v-model="infoMails"
                          hide-selected
                          label="Bilgi"
                          multiple
                          persistent-hint
                          small-chips
                        ></v-combobox>
                        <v-combobox
                          v-model="secretMail"
                          hide-selected
                          label="Gizli"
                          multiple
                          persistent-hint
                          small-chips
                        ></v-combobox>
                      </div>
                      <!-- Mail Toggle butonalrı SON-->
                      <v-card-text class="ma-0 pa-0 text-left">
                        <v-btn small color="cyan" class="mt-2 white--text" @click="addActivity">
                          Gönder
                          <v-icon small right dark>mdi-comment-processing-outline</v-icon>
                        </v-btn>
                      </v-card-text>
                    </v-col>

                    <v-col>
                      <app-vue-editor
                        :rules="required"
                        name="content"
                        ref="editor"
                        v-model="content"
                      ></app-vue-editor>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
            <v-card-text class="mr-2 text-right">
              <v-btn small color="cyan" class="white--text" @click="updateTicket">
                kaydet
                <v-icon small right dark>mdi-cloud-upload</v-icon>
              </v-btn>
            </v-card-text>
          </v-card>
          <v-snackbar
            :color="snackbarColor"
            v-model="snackbar"
            :top="true"
            :timeout="2000"
          >{{snackbarText}}</v-snackbar>
        </v-tab-item>
        <v-tab-item>
          <app-activities :activities="ticket.Activities"></app-activities>
        </v-tab-item>
        <v-tab-item>
          <app-services-activities></app-services-activities>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </v-form>
</template>
<script>
import { mapGetters } from "vuex";
import { VueEditor } from "vue2-editor";
import Activities from "./Activity/Activities";
import SparepartsChip from "./SparepartsChip";
import { EventBus } from "../../eventbus";
import ServicesActivities from "./Activity/ServicesActivities";
import moment from "moment";
import localization from "moment/locale/tr";
moment.locale("tr", localization);
export default {
  data: () => ({
    menu: false,
    infoMails: [],
    secretMail: [],
    valid: true,
    lazy: false,
    required: [v => !!v || "Zorunlu alan"],
    emailRules: [
      v => !!v || "E-mail adresi zorunludur",
      v => /.+@.+\..+/.test(v) || "Geçerli E-mail giriniz"
    ],
    snackbar: false,
    snackbarText: "",
    snackbarColor: "cyan",
    subCategory: null,
    category: {},
    searchSpareparts: null,
    search: null,
    searchInvoice: null,
    tab: null,
    content: "",
    searchDealer: "",
    selectedTemplate: 4,
    mailType: "",
    textType: "Text",
    items: ["Genel Bakış", "Aktiviteler", "İş Emirleri"]
  }),
  watch: {
    mailType() {
      this.setMailContent();
    },
    searchDealer(val) {
      if (val) {
        this.$store.dispatch("getDealers", val).catch(err => alert(err));
      }
    },
    searchInvoice(val) {
      if (val) {
        this.$store
          .dispatch("getInvoices", val)
          .catch(err => alert(err))
          .then(() => {
            if (this.ticket.CHASSIS_NUMBER) {
              this.$store.dispatch("getWorkorders", this.ticket.CHASSIS_NUMBER);
            }
          });
      }
    },
    "ticket.BRAND_PK"(val) {
      if (val) {
        this.getBrandCategories();
      }
    },
    "ticket.CATEGORY_PK"() {
      this.getSubCategories();
    },
    "ticket.MODEL"() {
      this.getSpareparts();
    }
  },
  computed: {
    pureContent() {
      return this.content.replace(/<[^>]*>?/gm, "");
    },
    ...mapGetters([
      "requirements",
      "ticket",
      "isLoading",
      "models",
      "spareparts",
      "latestActivity",
      "updatedSpareparts",
      "brandCategories",
      "subCategories",
      "invoices",
      "dealers"
    ])
  },

  methods: {
    latestActivityDate(date) {
      return moment(date)
        .add(-3, "hours")
        .format("llll");
    },
    removeSpareparts(item) {
      if (item.PK) {
        this.$store.dispatch("removeSpareparts", item.PK).then(() => {});
        const index = this.ticket.Spareparts.map(e => e.Matnr).indexOf(
          item.Matnr
        );
        if (index >= 0) this.ticket.Spareparts.splice(index, 1);
      }
    },
    getWorkorders() {
      this.$store.dispatch("getWorkorders", this.ticket.CHASSIS_NUMBER);
    },
    setMailType() {
      if (this.textType == "Mail") {
        this.mailType = "Default";
      }
    },
    setMailContent() {
      let obj = this.requirements["Templates"].filter(
        item => item.NAME == this.mailType
      );
      this.selectedTemplate = obj[0].PK;
      if (obj[0]) {
        /* eslint-disable no-debugger */
        debugger;
        /* eslint-enable no-debugger */
        this.content = obj[0].TEMPLATE.replace(
          "#MUSTERI#",
          this.ticket.Customer.P_NAME
        )
          .replace("#TALEPPK#", this.ticket.PK)
          .replace("#OLUSTURAN#", this.ticket.Customer.P_NAME)
          .replace("#KONU#", this.ticket.Activities[0].TEXT);
      } else {
        alert("Şablonu alırken bir hata oluştu");
      }
    },
    addActivity() {
      if (this.$refs.form.validate(["email", "content"]) && this.content) {
        let content;
        if (this.textType == "Text") {
          content = this.pureContent;
        } else {
          content = this.content;
          this.$store.dispatch("sendMail", {
            from: "Müşteri Hizmetleri<uma.musteri@uma.com.tr>",
            html: content,
            to: this.ticket.Customer.P_EMAIL,
            cc: JSON.stringify(this.infoMails),
            bcc: JSON.stringify(this.secretMail),
            subject: "Uğur Motorlu Araçlar"
          });
        }
        let activity = {
          TICKET_PK: this.ticket.PK,
          TYPE: this.textType,
          TEXT: content,
          TEMP_PK: this.selectedTemplate
        };
        this.$store.dispatch("addActivity", activity).then(() => {
          this.$store
            .dispatch("getLatestActivity", this.$route.params.id)
            .then(() => {
              this.snackbarText = "Yorum başarıyla eklendi";
              this.snackbar = true;
              this.content = "";
            });
        });
      }
    },
    addSpareparts(data) {
      if (data.attrs["aria-selected"] == "false") {
        data.item.TICKET_PK = this.ticket.PK;
        data.item.Labstks = parseInt(data.item.Labstks);
        data.item.Labstgs = parseInt(data.item.Labstgs);
        this.$store.dispatch("addSpareparts", data.item).then(() => {
          //hata var bakılacak ! Sparepartsları süzüp öyle getirmen lazım.
          // this.$store.dispatch("getTicket", this.$route.params.id);
        });
      }
      if (data.attrs["aria-selected"] == "true") {
        let item = this.ticket.Spareparts.filter(
          item => item.Matnr == data.item.Matnr
        );
        this.$store.dispatch("removeSpareparts", item[0].PK).then(() => {
          this.snackbarText = "Ürün başarıyla kaldırıldı";
          this.snackbar = true;
        });

        // this.removeSpareparts(PK[0]);
      }
    },

    getBrandCategories() {
      let obj = {
        brand: this.ticket.BRAND_PK
      };
      this.$store.dispatch("getBrandCategories", obj).then(() => {});
    },
    getSubCategories() {
      let obj = {
        brand: this.ticket.BRAND_PK,
        category: this.ticket.CATEGORY_PK
      };
      this.$store.dispatch("getSubCategories", obj).then(() => {});
    },
    getSpareparts() {
      let obj = {
        subCategory: this.ticket.MODEL
      };
      this.$store.dispatch("getSpareparts", obj).then(() => {});
    },
    updateTicket() {
      let obj = {
        PK: this.ticket.PK,
        SOURCE_PK: this.ticket.SOURCE_PK,
        RESPONSIBLE: this.ticket.RESPONSIBLE,
        TYPE_PK: this.ticket.TYPE_PK,
        PRIORITY_PK: this.ticket.PRIORITY_PK,
        ROOTREASON_PK: this.ticket.ROOTREASON_PK,
        STATE_PK: this.ticket.STATE_PK,
        REASONCATEGORY_PK: this.ticket.REASONCATEGORY_PK,
        REASONSUBCATEGORY_PK: this.ticket.REASONSUBCATEGORY_PK,
        CLOSEREASON_PK: this.ticket.CLOSEREASON_PK,
        CHASSIS_NUMBER: this.ticket.CHASSIS_NUMBER,
        DEALER_CODE: this.ticket.DEALER_CODE,
        SPAREPARTSTYPE_PK: this.ticket.SPAREPARTSTYPE_PK,
        BRAND_PK: this.ticket.BRAND_PK,
        CATEGORY_PK: this.ticket.CATEGORY_PK,
        MODEL: this.ticket.MODEL,
        SATISFIEDSTATE_PK: this.ticket.SATISFIEDSTATE_PK,
        WORKORDER_NO: this.ticket.WORKORDER_NO,
        ORDER_NO: this.ticket.ORDER_NO
      };
      if (this.$refs.form.validate()) {
        this.addActivity();
        this.$store.dispatch("updateTicket", obj).then(() => {
          this.snackbarText = "Ticket başarıyla güncellendi";
          this.snackbarColor = "cyan";
          this.snackbar = true;
        });
      } else {
        this.snackbarColor = "red";
        this.snackbarText = "Zorunlu alanları doldurunuz";
        this.snackbar = true;
      }
    }
  },
  mounted() {
    EventBus.$on("removeSpareparts", val => {
      this.removeSpareparts(val);
    });
  },
  async created() {
    this.$store.dispatch("getTicket", this.$route.params.id).then(() => {
      this.$store.dispatch("getRequirements").then(() => {
        this.$store
          .dispatch("getLatestActivity", this.$route.params.id)
          .then(() => {
            /* eslint-disable no-console */
            console.log(this.ticket);
            /* eslint-enable no-console */
            this.$store.dispatch("getInvoices", "").catch(err => alert(err));
            this.$store.dispatch("getDealers", "").catch(err => alert(err));
          });
      });
    });
    // this.$store
    //   .dispatch("getCustomer", this.$route.params.id)
    //   .then()
    //   .catch(err => {
    //     alert(err);
    //   });
  },
  components: {
    appServicesActivities: ServicesActivities,
    appVueEditor: VueEditor,
    appActivities: Activities,
    appSparepartsChip: SparepartsChip
  }
};
</script>

<style lang="scss">
</style>