<template>
  <v-footer class="mr-3 margin-left" height="55" v-bind="localAttrs" :padless="padless">
    <v-card  height="55" flat tile width="100%">
      <v-card-text class="ma-0 pa-0 mx-4 text-right">
        <v-btn class="ma-0 pa-0 mx-4" icon>
          <v-icon size="25">mdi-content-save</v-icon>
        </v-btn>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  data: () => ({
    icons: ["mdi-home", "mdi-email", "mdi-calendar", "mdi-delete"],
    items: ["default", "absolute", "fixed"],
    padless: false,
    variant: "fixed"
  }),
  computed: {
    localAttrs() {
      const attrs = {};

      if (this.variant === "default") {
        attrs.absolute = false;
        attrs.fixed = false;
      } else {
        attrs[this.variant] = true;
      }
      return attrs;
    }
  }
};
</script>
