<template>
  <v-form :lazy-validation="lazy" ref="form" v-model="valid">
    <v-container>
      <v-row>
        <v-col cols="12" sm="6">
          <v-autocomplete
            :rules="required"
            label="Talep Tipi"
            item-text="NAME"
            item-value="PK"
            v-model="ticket.TYPE_PK"
            :items="requirements['Type']"
          ></v-autocomplete>
          <v-combobox
            :rules="required"
            :loading="isLoading"
            :search-input.sync="search"
            no-data-text="Müşteri bulunamadı"
            item-text="P_NAME"
            item-value="PK"
            v-model="ticket.CUSTOMER_PK"
            :items="customers"
            label="Müşteri"
            :return-object="false"
          >
            <template slot="item" slot-scope="data">{{ data.item.P_NAME }} - {{data.item.P_TELNO}}</template>
          </v-combobox>
          <v-autocomplete
            :rules="required"
            no-data-text="Lütfen öncelik seçiniz"
            item-text="NAME"
            item-value="PK"
            label="Öncelik"
            v-model="ticket.PRIORITY_PK"
            :items="requirements['Priority']"
          ></v-autocomplete>
        </v-col>
        <v-col cols="12" sm="6">
          <v-autocomplete
            :rules="required"
            item-text="NAME"
            item-value="PK"
            label="Kaynak"
            v-model="ticket.SOURCE_PK"
            :items="requirements['Source']"
          ></v-autocomplete>
          <v-text-field :rules="required" disabled v-model="user.DISPLAY_NAME" label="Temsilci"></v-text-field>
          <v-textarea
            minlength="20"
            :rules="required"
            v-model="ticket.ACTIVITY"
            outlined
            label="Tanım"
          ></v-textarea>
        </v-col>
      </v-row>
      <v-btn @click="createTicket">Kaydet</v-btn>
    </v-container>
  </v-form>
</template>

<script>
import { mapGetters, mapState } from "vuex";

export default {
  data: () => ({
    search: "null",
    isLoading: false,
    valid: true,
    lazy: false,
    required: [v => !!v || "Zorunlu alan"],

    snackbar: false,
    snackbarText: "",
    snackbarColor: "cyan",
    ticket: {
      RESPONSIBLE: null,
      SOURCE_PK: null,
      CUSTOMER_PK: null,
      PRIORITY_PK: null,
      TYPE_PK: null,
      ACTIVITY: null
    }
  }),
  watch: {
    search(val) {
      if (val) {
        this.$store.dispatch("getCustomerByName", val).catch(err => alert(err));
      }
      /* eslint-disable no-console */
      /* eslint-enable no-console */
    }
  },
  computed: {
    ...mapGetters(["requirements", "customers", "user", "customerPK"]),
    ...mapState(["isEmited"])
  },
  methods: {
    createTicket() {
      this.ticket.RESPONSIBLE = this.user.PK;

      if (this.$refs.form.validate()) {
        this.$store
          .dispatch("addTicket", this.ticket)
          .then(res => {
            this.$router.push(`/talepler/${res.data.PK}/duzenle`);
          })
          .catch(err => {
            alert(err);
          });
      }
    }
  },
  beforeDestroy() {
    this.$store.dispatch("destroyEmit");
  },
  mounted() {
    if (this.isEmited) {
      this.ticket.CUSTOMER_PK = this.customerPK;
    }
  },
  async created() {
    this.$store.dispatch("getRequirements").then(() => {});
  }
};
</script>