
<template>
  <v-menu v-model="menu" :close-on-content-click="false" :nudge-width="100" offset-y open-on-hover>
    <template v-slot:activator="{on}">
      <v-chip
        close
        v-on="on"
        @click:close="removeSpareparts(chip.item)"
      >{{ chip.item.Maktx }} - {{ chip.item.Matnr }}</v-chip>
    </template>
    <v-card>
      <v-col class="pa-1">
        <p>{{ chip.item.Maktx }} - {{ chip.item.Matnr }}</p>
        <p>2210:{{chip.item.Labstks }} / 2212:{{chip.item.Labstgs}} - {{chip.item.PerakendeFiyat}} ₺</p>
      </v-col>
    </v-card>
  </v-menu>
</template>

<script>
import { EventBus } from "../../eventbus";

export default {
  props: {
    chip: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    menu: false
  }),
  methods: {
    removeSpareparts(item) {
      EventBus.$emit("removeSpareparts", item);
    }
  }
};
</script>

