<template>
  <v-card>
    <v-row class="ml-2" justify="space-between" align="center" lg="2">
      <v-menu max-width="600" v-model="fiterMenu" :close-on-content-click="false" offset-x>
        <template v-slot:activator="{ on }">
          <v-icon v-if="filters.length" color="primary" dark v-on="on">mdi-filter</v-icon>
          <v-icon v-else color="primary" dark v-on="on">mdi-filter-outline</v-icon>
        </template>
        <v-card>
          <v-divider></v-divider>
          <v-list>
            <v-list-item>
              <v-list-item-title>
                <v-row align="center">
                  <v-col class="ma-0" cols="5">
                    <v-autocomplete
                      @change="selectOp"
                      no-data-text="Sütun"
                      item-text="NAME"
                      item-value="PK"
                      v-model="filterOp"
                      label="Sütun"
                      :items="filterOpList"
                      return-object
                    ></v-autocomplete>
                  </v-col>
                  <v-col class="ma-0 pa-0" cols="2">
                    <v-btn-toggle height="20" v-model="op" borderless>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-btn small v-on="on" value="equal">
                            <!-- <span class="hidden-sm-and-down">Ulaşılamadı</span> -->
                            <v-icon small>mdi-equal</v-icon>
                          </v-btn>
                        </template>
                        <span>Eşittir</span>
                      </v-tooltip>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-btn
                            :disabled="filterOp.PK != 'SUBJECT'"
                            small
                            v-on="on"
                            value="contain"
                          >
                            <!-- <span class="hidden-sm-and-down">İletişim</span> -->
                            <v-icon small>mdi-margin</v-icon>
                          </v-btn>
                        </template>
                        <span>İçerir</span>
                      </v-tooltip>
                    </v-btn-toggle>
                  </v-col>
                  <v-col cols="4">
                    <v-text-field v-if="op == 'contain'" v-model="filterOpValue.PK"></v-text-field>
                    <v-autocomplete
                      v-if="op == 'equal'"
                      no-data-text="Lütfen kayıt seçiniz"
                      label="Değer"
                      item-text="NAME"
                      item-value="PK"
                      v-model="filterOpValue"
                      return-object
                      :items="requirements[filterOp.PK]"
                    ></v-autocomplete>
                    <v-menu
                      v-if="op == 'between'"
                      ref="menu"
                      v-model="menu"
                      :close-on-content-click="false"
                      :return-value.sync="filterDate"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-model="filterOpValue.PK"
                          label="Tarih Aralığı"
                          prepend-icon="mdi-calendar-multiple-check"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker locale="TR" range v-model="filterOpValue.PK" no-title>
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
                        <v-btn text color="primary" @click="$refs.menu.save(filterOpValue.PK)">OK</v-btn>
                      </v-date-picker>
                    </v-menu>
                  </v-col>

                  <v-col>
                    <v-icon color="primary" @click="addFilterOp">mdi-plus-circle-outline</v-icon>
                  </v-col>
                </v-row>
              </v-list-item-title>
            </v-list-item>
            <v-row class="ml-2">
              <v-chip
                :key="item.PK"
                v-for="(item,i) in filters"
                class="ma-2"
                close
                color="primary"
                text-color="white"
                close-icon="mdi-delete"
                @click:close="removeFilter(i)"
              >
                <!-- <v-avatar left>
                  <v-icon>mdi-checkbox-marked-circle</v-icon>
                </v-avatar>-->
                {{`'${item.keyName}'`}} {{item.op }} {{`'${item.valueName ? item.valueName : item.value}'`}}
              </v-chip>
            </v-row>
          </v-list>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="clearFilters">Temizle</v-btn>
            <v-btn color="primary" text @click="getFilteredItems">Ara</v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>
      <v-col class="pa-0 ma-0 ml-2" cols="2">
        <v-text-field label="Talep Ara" v-model="search"></v-text-field>
      </v-col>
      <v-col cols="3">
        <v-combobox
          clearable
          :loading="isLoading"
          :search-input.sync="customerSearch"
          no-data-text="Müşteri bulunamadı"
          item-text="P_NAME"
          item-value="PK"
          v-model="CUSTOMER_PK"
          @change="getCustomerTickets"
          :items="customers"
          label="Müşteri"
          :return-object="false"
        >
          <template slot="item" slot-scope="data">{{ data.item.P_NAME }} - {{data.item.P_TELNO}}</template>
        </v-combobox>
      </v-col>
      <!-- Excel'e aktarım-->
      <v-menu max-width="600" v-model="excelMenu" :close-on-content-click="false" offset-x>
        <template v-slot:activator="{ on }">
          <v-icon color="primary" dark v-on="on">mdi-file-excel</v-icon>
        </template>
        <v-card>
          <v-date-picker
            :selected-items-text="filterExcelDates.join(',')"
            locale="TR"
            v-model="filterExcelDates"
            range
          ></v-date-picker>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="filterExcelDates=[]">Temizle</v-btn>
            <downloadexcel
              name="CRM Rapor.xls"
              :before-generate="startDownload"
              :before-finish="finishDownload"
              class="btn"
              :fetch="fetchExcelData"
              :fields="json_fields"
              type="xlsx"
            >
              <v-progress-circular v-if="excelDownloading" indeterminate color="primary"></v-progress-circular>

              <v-icon @click color="primary" dark>mdi-file-excel</v-icon>
            </downloadexcel>
          </v-card-actions>
        </v-card>
      </v-menu>

      <v-col>
        <!-- <v-switch
          v-if="!isLoading"
          v-model="isMyRecords"
          flat
          :label="`${isMyRecords ? 'Tayin edilen' : 'Tüm'} Talepler`"
        ></v-switch>-->
      </v-col>
      <v-btn small to="/talepler/yeni" class="mr-4" fab dark color="primary">
        <v-icon dark>mdi-plus</v-icon>
      </v-btn>
    </v-row>
    <!-- <p class="ml-2">Talep Sayısı: {{ticketCount}}</p> -->
    <v-data-table
      :footer-props="{ 'items-per-page-options': [10, 25, 50, -1],
                           'items-per-page-text': 'Kalem:',
                           'items-per-page-all-text': 'Hepsi'}"
      v-model="selected"
      :headers="headers"
      :items="tickets"
      dense
      :single-select="singleSelect"
      :options.sync="pagination"
      item-key="PK"
      no-results-text="Sonuç bulunamadı"
      hide-default-footer
      show-select
      class="elevation-1"
      :search="search"
    >
      <template v-slot:item.PK="{ item }">
        <router-link :to="`/talepler/${item.PK}/duzenle`" tag="a">{{item.PK}}</router-link>
        <!-- <span class="on-hover" @dblclick="editCustomer(item)">{{item.PK}}</span> -->
      </template>
      <template v-slot:item.CREATEDTS="{ item }">
        <span>{{createdDate(item.CREATEDTS)}}</span>
      </template>
      <!-- <template v-slot:item.P_ACTIVE="{ item }">
        <v-icon color="success" v-if="item.P_ACTIVE">mdi-marker-check</v-icon>
        <v-icon color="error" v-else>mdi-delete</v-icon>
      </template>
      <template v-slot:item.P_KARALISTE="{ item }">
        <v-icon small v-if="item.P_KARALISTE">mdi-block-helper</v-icon>
      </template>
      <template v-slot:item.action="{ item }">
        <v-icon small class="mr-2" @click="editCustomer(item)">mdi-pencil</v-icon>
      </template>-->
      <!-- <template v-slot:top>
        <v-switch v-model="singleSelect" label="Single select" class="pa-3"></v-switch>
      </template>-->
    </v-data-table>
    <v-pagination
      @input="paginationChangeHandler"
      :value="pagination.page"
      :length="pages"
      :total-visible="7"
      circle
    ></v-pagination>
    <v-snackbar
      :color="snackbarColor"
      v-model="snackbar"
      :top="true"
      :timeout="2000"
    >{{snackbarText}}</v-snackbar>
  </v-card>
</template>
<script>
import { mapGetters } from "vuex";
import moment from "moment";
import localization from "moment/locale/tr";
import downloadexcel from "vue-json-excel";
import axios from "../../http-common";
moment.locale("tr", localization);
export default {
  components: {
    downloadexcel
  },
  computed: {
    ...mapGetters(["tickets", "ticketCount", "customers", "requirements"]),
    pages() {
      if (this.ticketCount) {
        return Math.ceil(this.ticketCount / this.pagination.itemsPerPage);
      }
      return 0;
    }
  },
  watch: {
    customerSearch(val) {
      if (val) {
        this.$store.dispatch("getCustomerByName", val).catch(err => alert(err));
      }
    },
    isMyRecords(val) {
      if (val) {
        this.getMyTickets();
      } else {
        this.getTickets();
      }
    }
  },
  mounted() {
    this.getTickets();
    this.$store.dispatch("getRequirements");
  },
  methods: {
    startDownload() {
      if (this.filterExcelDates.length > 2) {
        this.excelDownloading = true;
      }
    },
    finishDownload() {
      this.excelDownloading = false;
    },
    async fetchExcelData() {
      if (this.filterExcelDates.length < 2) {
        this.snackbar = true;
        this.snackbarText = "Lütfen iki tarih aralığı seçiniz";
        return false;
      }
      const response = await axios.get("/reports", {
        params: {
          dates: this.filterExcelDates.join(",")
        }
      });
      if (response.data.length == 0) {
        this.snackbarText = "Verilen tarih aralığında kayıt bulunamadı";
        this.snackbar = true;
      } else {
        response.data.map((item, i) => {
          if (response.data[i].LAST_COMMEND) {
            response.data[i].LAST_COMMEND = response.data[
              i
            ].LAST_COMMEND.replace(/<\/?[^>]+(>|$)/g, "");
          }
        });
      }
      return response.data;
    },
    clearFilters() {
      this.filters = [];
      this.getTickets();
    },
    getFilteredItems() {
      this.$store
        .dispatch("getTickets", {
          limit: 15,
          offset: (this.pagination.page - 1) * 15,
          query: this.filters
        })
        .then(() => {});
    },
    selectOp(val) {
      console.log(val);
      if (val.PK == "SUBJECT") {
        this.op = "contain";
      } else if (val.PK == "CREATEDTS") {
        this.op = "between";
        this.filterOpValue.PK = [new Date().toISOString().substr(0, 10)];
        this.filterOpValue.NAME = this.filterOpValue.PK.join(",");
        return;
      } else {
        this.op = "equal";
      }
      this.filterOpValue = {};
    },
    removeFilter(i) {
      this.filters.splice(i, 1);
    },
    addFilterOp() {
      if (this.filterOp.COLUMN && this.filterOpValue.PK && this.op) {
        let filterObj = {
          key: this.filterOp.COLUMN,
          value: this.filterOpValue.PK,
          valueName: this.filterOpValue.NAME,
          keyName: this.filterOp.NAME,
          op: this.op
        };
        if (this.op == "between") {
          filterObj.value = this.filterOpValue.PK.join(",");
          filterObj.valueName = this.filterOpValue.PK.join(",");
        }
        console.log(filterObj);
        this.filters.push(filterObj);
      } else {
        alert("Lütfen eksik bilgileri tamamlayınız");
      }
    },
    getCustomerTickets(val) {
      if (val) {
        let filterObj = {
          key: "CUSTOMER_PK",
          value: this.CUSTOMER_PK,
          valueName: this.CUSTOMER_PK,
          keyName: "Müşteri No",
          op: "equal"
        };
        this.filters.push(filterObj);
        this.getTickets();
      } else {
        const index = this.filters.findIndex(
          item => item.key === "CUSTOMER_PK"
        );
        this.filters.splice(index, 1);
        this.getTickets();
      }
    },
    getTickets() {
      this.$store
        .dispatch("getTickets", {
          limit: 15,
          offset: (this.pagination.page - 1) * 15,
          query: this.filters
        })
        .then(() => {
          if (!this.ticketCount) {
            this.$store.dispatch("getTicketCount");
          }
          this.isLoading = false;
        });
    },
    getMyTickets() {
      this.$store
        .dispatch("getMyTickets", {
          limit: 15,
          offset: (this.pagination.page - 1) * 15
        })
        .then(() => {
          if (!this.ticketCount) {
            this.$store.dispatch("getTicketCount");
          }
          this.isLoading = false;
        });
    },

    paginationChangeHandler(pageNumber) {
      this.pagination.page = pageNumber;
      this.getTickets();
      // if (this.isMyRecords) {
      //   this.getMyTickets();
      // } else {
      // }
      // this.$store
      //   .dispatch("getTickets", {
      //     limit: this.pagination.itemsPerPage,
      //     offset: (pageNumber - 1) * 10
      //   })
      //   .then(() => {
      //     this.pagination.page = pageNumber;
      //   });
    },
    createdDate(date) {
      return moment(date)
        .add(-3, "hours")
        .format("llll");
    },
    editCustomer(item) {
      this.$router.push({
        path: `/talepler/${item.PK}/duzenle`
      });
    }
  },
  data() {
    return {
      filterDate: [new Date().toISOString().substr(0, 10)],
      menu: false,
      excelDownloading: false,
      snackbar: false,
      snackbarColor: "error",
      snackbarText: "",
      json_fields: {
        "Ticket No": "PK",
        "Talep Tipi": "TYPE",
        KONU: "SUBJECT",
        DURUM: "STATE",
        SORUMLU: "RESPONSIBLE",
        KAYNAK: "SOURCE",
        AY: "MOUNT",
        YIL: "YEAR",
        "MÜŞTERİ NO": "CUSTOMER_PK",
        "MÜŞTERİ AD": "P_NAME",
        "MÜŞTERİ TEL": "P_TELNO",
        IL: "P_IL",
        ILCE: "P_ILCE",
        ÖNCELİK: "PRIORTY",
        "ÇÖZÜM TARİHİ": "SOLUTION_DATE",
        "ÇÖZÜM GÜN SAYISI": "SOLUTION_DATE_DIFF",
        "TALEP TARİHİ": "CREATEDTS",
        "SON AKTİVİTE": "LAST_COMMEND",
        "KATEGORI NEDENI": "REASON_CATEGORY",
        "KATEGORI ALT NEDENI": "REASON_SUB_CATEGORY",
        "ŞİKAYET KÖK NEDENİ": "ROOT_REASON",
        "KAPATMA NEDENİ": "CLOSE_REASON",
        "BAYİ KOD": "DEALER_CODE",
        "BAYİ AD": "DEALER_NAME",
        "MEMNUNİYET DERECESİ": "SATISFIEDSTATE",
        MARKA: "BRAND",
        MODEL: "MODEL"
      },
      filterExcelDates: [new Date().toISOString().substr(0, 10)],
      op: "equal",
      fiterMenu: false,
      excelMenu: false,
      filterOp: {},
      filterOpValue: {
        PK: "",
        NAME: ""
      },
      filterOpList: [
        { COLUMN: "RESPONSIBLE", PK: "Responsible", NAME: "Sorumlu" },
        { COLUMN: "PRIORITY_PK", PK: "Priority", NAME: "Öncelik" },
        { COLUMN: "STATE_PK", PK: "State", NAME: "Durum" },
        { COLUMN: "TYPE_PK", PK: "Type", NAME: "Talep Tipi" },
        { COLUMN: "CLOSEREASON_PK", PK: "CloseReason", NAME: "Kapatma Nedeni" },
        { COLUMN: "SUBJECT", PK: "SUBJECT", NAME: "Konu" },
        {
          COLUMN: "REASONCATEGORY_PK",
          PK: "ReasonCategory",
          NAME: "Kategori Nedeni"
        },
        {
          COLUMN: "REASONSUBCATEGORY_PK",
          PK: "ReasonSubCategory",
          NAME: "Kategori Alt Nedeni"
        },
        { COLUMN: "ROOTREASON_PK", PK: "RootReason", NAME: "Kök Nedeni" },
        {
          COLUMN: "SATISFIEDSTATE_PK",
          PK: "SatisfiedState",
          NAME: "Memnuniyet"
        },
        { COLUMN: "SOURCE_PK", PK: "Source", NAME: "Kaynak" },
        { COLUMN: "BRAND_PK", PK: "Brand", NAME: "Marka" },
        { COLUMN: "CREATEDTS", PK: "CREATEDTS", NAME: "Talep Tarihi" }
      ],
      filters: [],
      CUSTOMER_PK: null,
      customerSearch: null,
      isMyRecords: true,
      totalItems: 100,
      search: "",
      pagination: { itemsPerPage: 15 },
      singleSelect: false,
      isLoading: true,
      selected: [],
      headers: [
        { text: "Numara", value: "PK" },
        {
          text: "Öncelik",
          align: "left",
          value: "Priority.NAME"
        },
        { text: "Tür", value: "Source.NAME" },

        { text: "Konu", value: "SUBJECT" },
        { text: "Durum", value: "State.NAME" },
        { text: "Müşteri", value: "Customer.P_NAME" },
        { text: "Bildirim Tarihi", value: "CREATEDTS" },
        { text: "Tayin Edilen", value: "ResponsibleUser.DISPLAY_NAME" },
        { text: "", value: "action", sortable: false }
      ],
      tab: null,
      items: ["Appetizers", "Entrees", "Deserts", "Cocktails"],
      text:
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    };
  }
};
</script>
<style lang="scss">
.on-hover {
  color: #3a536a;
  font-weight: 450;
}
.on-hover:hover {
  cursor: pointer;
  text-decoration: underline;
}
.v-date-picker-title__date {
  font-size: 16px !important;
}
</style>