<template>
  <v-content>
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <v-flex xs12 sm5>
          <v-card class="elevation-12">
            <v-toolbar color="white">
              <v-toolbar-title>Kullanıcı Girişi</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-form ref="signinForm" @submit.prevent="onSubmit">
                <v-text-field
                  v-model="user.USERNAME"
                  prepend-icon="mdi-account"
                  name="login"
                  label="Kullanıcı adı"
                  type="text"
                ></v-text-field>
                <v-text-field
                  v-model="user.PASSWORD"
                  prepend-icon=" mdi-key-variant"
                  name="password"
                  label="Şifre"
                  type="password"
                ></v-text-field>
                <v-btn type="submit" color="primary">GİRİŞ</v-btn>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
          <v-snackbar v-model="snackbar" :color="snackbars.color" :timeout="snackbars.timeout">
            {{snackbars.text}}
            <v-icon small @click="snackbar = false" flat color="white">close</v-icon>
          </v-snackbar>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>
<script>

export default {
  computed: {},
  data() {
    return {
      updatedEmail: "",
      dialog: false,
      snackbar: false,
      snackbars: {
        timeout: 2000,
        color: "",
        text: ""
      },
      user: {
        USERNAME: null,
        PASSWORD: null
      }
    };
  },
  methods: {
    onSubmit() {
      this.$store
        .dispatch("userLogin", this.user)
        .then(() => {
          this.snackbar = true;
          this.snackbars.color = "green";
          this.snackbars.text = `Giriş başarılı, yönlendiriliyorsunuz...`;
          this.$store.dispatch("getCurrentUser");
          this.$router.push("/");
        })
        .catch(err => {

          this.snackbar = true;
          this.snackbars.color = "red";
          this.snackbars.text = `Kullanıcı adı veya şifre yanlış.${err}`;
        });
    }
  }
};
</script>

