<template>
  <v-timeline-item class="pb-1" color="white" small>
    <template v-slot:icon>
      <v-icon
        @click="setActive()"
        :color="!active ? '#3B4B5B':'cyan'"
        class="text-left"
        small
      >mdi-pencil</v-icon>
    </template>
    <v-col cols="11" v-if="active" class="ma-0 pa-0">
      <v-row align="center" justify="center">
        <v-textarea ref="edit" rows="10" height="auto" v-model="activity.TEXT"></v-textarea>
        <div class="text-right ma-0">
          <v-btn icon size="18" color="red">
            <v-icon @click="deleteActivity(activity.PK)" size="18" dark>mdi-comment-remove-outline</v-icon>
          </v-btn>
          <v-btn icon size="18" color="cyan">
            <v-icon @click="updateActivity(activity)" size="18" dark>mdi-cloud-upload</v-icon>
          </v-btn>
        </div>
      </v-row>
    </v-col>
    <v-row v-else align="center" justify="space-around">
      <v-col v-html="activity.TEXT" v-if="activity.TYPE == 'Text'" class="text-xs-center"></v-col>
      <v-col v-else class="text-xs-center">Mail Gönderildi - {{ activity.Template.NAME }}</v-col>
      <v-col class="text-right pr-1">
        <v-list-item two-line>
          <v-list-item-content>
            <v-list-item-title>{{latestActivityDate(activity.CREATEDTS)}}</v-list-item-title>
            <v-list-item-subtitle>{{activity.CreatedUser.DISPLAY_NAME}}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-col>
    </v-row>
  </v-timeline-item>
</template>

<script>
import moment from "moment";
import localization from "moment/locale/tr";
moment.locale("tr", localization);
export default {
  props: {
    activity: Object
  },
  data: () => ({
    active: false
  }),
  methods: {
    setActive() {
      this.active = !this.active;
      /* eslint-disable no-console */
      /* eslint-enable no-console */
      if (this.active) {
        this.$nextTick(() => {
          this.$refs["edit"].focus();
        });
      }
    },
    deleteActivity(pk) {
      this.$store.dispatch("deleteActivity", pk).then(() => {
        this.active = false;
        alert("Silme başarılı");
      });
    },
    updateActivity(val) {
      if (val.TEXT) {
        this.$store.dispatch("updateActivity", val).then(() => {
          this.active = false;
          alert("kayıt başarılı");
        });
      }
    },
    latestActivityDate(date) {
      return moment(date)
        .add(-3, "hours")
        .format("llll");
    }
  }
};
</script>