<template>
  <v-container>
    <v-timeline dense clipped>
      <v-slide-x-transition group>
        <div v-for="activity in descActivities" :key="activity.PK">
          <app-activity-item :activity="activity"></app-activity-item>
        </div>
      </v-slide-x-transition>
    </v-timeline>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
import moment from "moment";
import Activity from "./ActivityItem";
import localization from "moment/locale/tr";
moment.locale("tr", localization);
export default {
  props: {
    activities: Array
  },
  data: () => ({}),
  computed: {
    ...mapGetters([]),
    descActivities() {
      return this.activities.slice().reverse();
    }
  },
  methods: {
    selam(val) {
      alert(val);
    },
    latestActivityDate(date) {
      return moment(date)
        .add(-3, "hours")
        .format("llll");
    }
  },
  components: {
    appActivityItem: Activity
  }
};
</script>