<template>
  <v-card>
    <v-row class="ml-2" justify="space-between" align="center" lg="2">
      <v-col cols="4">
        <v-text-field label="İş Emri Ara" v-model="search"></v-text-field>
      </v-col>
    </v-row>
    <v-data-table
      :footer-props="{ 'items-per-page-options': [10, 25, 50, -1],
                           'items-per-page-text': 'Kalem:',
                           'items-per-page-all-text': 'Hepsi'}"
      :headers="headers"
      :items="workorders"
      item-key="PK"
      no-results-text="Sonuç bulunamadı"
      class="elevation-1"
      :search="search"
      show-expand
      item-expanded
    >
      <template v-slot:item.CREATEDTS="{ item }">
        <span>{{createdDate(item.CREATEDTS)}}</span>
      </template>
      <template v-slot:expanded-item="{ item }">
        <tr v-for="line in item.Workorderline" :key="line.PK">
          <td :colspan="item.length">{{ line.P_MATERIALCODE }}</td>
          <td :colspan="item.length">{{ line.P_UNITPRICE }}&nbsp;₺</td>
          <td :colspan="item.length">{{line.P_QUANTITY}}&nbsp;{{line.P_MEASUREUNIT}}</td>
        </tr>
      </template>
    </v-data-table>
  </v-card>
</template>
<script>
import { mapGetters } from "vuex";
import moment from "moment";
import localization from "moment/locale/tr";
moment.locale("tr", localization);
export default {
  props: {
    activity: Array
  },
  computed: {
    ...mapGetters(["ticket", "workorders"])
  },

  methods: {
    createdDate(createdDate) {
      return moment(createdDate).format("llll");
    }
  },
  data() {
    return {
      search: "",
      headers: [
        { text: "Tarih", value: "CREATEDTS" },
        {
          text: "Şasi Numarası",
          align: "left",
          value: "P_CHASSISNUMBER"
        },
        { text: "İş Emri Açıklaması", value: "P_WORKORDERDESCRIPTION" },

        { text: "Ürün Kodu", value: "P_PRODUCTCODE" },
        { text: "İşemri Numarası", value: "P_CODE" },
        { text: "", value: "data-table-expand" }
      ],
      tab: null
    };
  }
};
</script>
<style lang="scss">
.on-hover {
  color: #3a536a;
  font-weight: 450;
}
.on-hover:hover {
  cursor: pointer;
  text-decoration: underline;
}
</style>