<template>
  <v-card class="elevation-0" v-if="!isLoading">
    <v-toolbar color="#426295" dark flat>
      <v-icon>mdi-account-circle</v-icon>
      <v-toolbar-title class="ml-4">
        <span>{{ customer.P_NAME }}</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-icon>mdi-ticket-account</v-icon>
      <v-toolbar-title class="ml-4">
        <span>{{ customer.PK }}</span>
      </v-toolbar-title>
      <template v-slot:extension>
        <v-tabs v-model="tab" align-with-title background-color="transparent">
          <v-tabs-slider color="white"></v-tabs-slider>
          <v-tab v-for="item in items" :key="item">{{ item }}</v-tab>
        </v-tabs>
      </template>
    </v-toolbar>
    <v-tabs-items v-model="tab">
      <v-tab-item>
        <v-card color="#fafafa" :elevation="0">
          <v-row no-gutters>
            <v-col cols="12">
              <v-card class="ma-3 pa-3">
                <v-col cols="6">
                  <v-card class="ma-3">
                    <v-row class="pa-3">
                      <v-col cols="6">
                        <v-text-field
                          :rules="required"
                          dense
                          v-model="customer.P_NAME"
                          label="Müşteri Ad"
                          outlined
                        ></v-text-field>
                        <v-text-field dense v-model="customer.P_EMAIL" label="E-Posta" outlined></v-text-field>
                        <v-autocomplete
                          no-data-text="Lütfen il seçiniz"
                          v-model="customer.P_IL"
                          label="İl"
                          :items="getIl"
                        ></v-autocomplete>
                      </v-col>
                      <v-col>
                        <v-text-field dense v-model="customer.P_TELNO" label="Telefon" outlined></v-text-field>
                        <v-text-field
                          dense
                          v-model="customer.P_SABITTEL"
                          label="Sabit Tel"
                          outlined
                        ></v-text-field>
                        <v-autocomplete
                          no-data-text="Lütfen il seçiniz"
                          v-model="customer.P_ILCE"
                          label="İlçe"
                          :items="getIlce"
                        ></v-autocomplete>
                      </v-col>
                      <v-col class="ma-0 pt-0" cols="12">
                        <v-textarea v-model="customer.P_ADRES" outlined label="Adres"></v-textarea>
                        <v-card-text class="ma-0 pa-0 text-right">
                          <v-btn small color="cyan" class="white--text" @click="updateCustomer">
                            kaydet
                            <v-icon small right dark>mdi-cloud-upload</v-icon>
                          </v-btn>
                        </v-card-text>
                      </v-col>
                    </v-row>
                  </v-card>
                </v-col>
              </v-card>
            </v-col>
            <v-col cols="6"></v-col>
            <v-col cols="6"></v-col>
            <v-col cols="12"></v-col>
          </v-row>
        </v-card>
        <v-snackbar color="cyan" v-model="snackbar" :top="true" :timeout="2000">{{snackbarText}}</v-snackbar>
      </v-tab-item>
      <v-tab-item>
        <v-card color="#fafafa" :elevation="0">
          <v-row no-gutters>
            <v-col cols="12">
              <v-card class="ma-3 pa-3">
                <v-row class="ml-2" justify="space-between" align="center" lg="2">
                  <v-col cols="4">
                    <v-text-field label="Talep Ara" v-model="search"></v-text-field>
                  </v-col>
                  <v-col cols="1">
                    <v-btn @click="addTicket" class="mx-2" fab dark color="indigo">
                      <v-icon dark>mdi-plus</v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
                <v-data-table
                  :search="search"
                  :footer-props="{ 'items-per-page-options': [10, 25, 50, -1],
                           'items-per-page-text': 'Kalem:',
                           'items-per-page-all-text': 'Hepsi'}"
                  :headers="headers"
                  :items="customer.Tickets"
                  item-key="PK"
                  no-results-text="Sonuç bulunamadı"
                  class="elevation-1"
                >
                  <template slot="no-data">Talep Bulunamadı</template>
                  <template v-slot:item.CREATEDTS="{ item }">
                    <span>{{createdDate(item.CREATEDTS)}}</span>
                  </template>
                  <template v-slot:item.CUSTOMER_PK="{ item }">
                    <span>{{customer.P_NAME}}</span>
                  </template>
                  <template v-slot:item.PK="{ item }">
                    <span class="on-hover" @dblclick="editCustomer(item)">{{item.PK}}</span>
                  </template>
                  <!-- <template v-slot:item.CREATEDTS="{ item }">
                    <span>{{createdDate(item.CREATEDTS)}}</span>
                  </template>-->
                  <!-- <template v-slot:item.P_ACTIVE="{ item }">
        <v-icon color="success" v-if="item.P_ACTIVE">mdi-marker-check</v-icon>
        <v-icon color="error" v-else>mdi-delete</v-icon>
      </template>
      <template v-slot:item.P_KARALISTE="{ item }">
        <v-icon small v-if="item.P_KARALISTE">mdi-block-helper</v-icon>
      </template>
      <template v-slot:item.action="{ item }">
        <v-icon small class="mr-2" @click="editCustomer(item)">mdi-pencil</v-icon>
                  </template>-->
                  <!-- <template v-slot:top>
        <v-switch v-model="singleSelect" label="Single select" class="pa-3"></v-switch>
                  </template>-->
                </v-data-table>
              </v-card>
            </v-col>
            <v-col cols="6"></v-col>
            <v-col cols="6"></v-col>
            <v-col cols="12"></v-col>
          </v-row>
        </v-card>
        <v-snackbar color="cyan" v-model="snackbar" :top="true" :timeout="2000">{{snackbarText}}</v-snackbar>
      </v-tab-item>
      <v-tab-item></v-tab-item>
      <v-tab-item></v-tab-item>
    </v-tabs-items>
  </v-card>
</template>

<script>
import moment from "moment";
import { mapGetters } from "vuex";
export default {
  data: () => ({
    items: ["Genel Bakış", "Talepler"],
    required: [v => !!v || "Zorunlu alan"],
    tab: null,
    isLoading: false,
    snackbarText: "",
    snackbar: false,
    search: null,
    headers: [
      { text: "Müşteri", value: "CUSTOMER_PK" },

      { text: "Numara", value: "PK" },
      {
        text: "Öncelik",
        align: "left",
        value: "Type.NAME"
      },
      { text: "Tür", value: "Source.NAME" },

      { text: "Konu", value: "Activities[0].TEXT" },
      { text: "Durum", value: "State.NAME" },
      { text: "Bildirim Tarihi", value: "CREATEDTS" },
      { text: "Tayin Edilen", value: "ResponsibleUser.DISPLAY_NAME" },
      { text: "", value: "action", sortable: false }
    ],
    snackbarText: null,
    snackbar: false,
    locations: {
      Adana: [
        "Aladağ",
        "Ceyhan",
        "Çukurova",
        "Feke",
        "İmamoğlu",
        "Karaisalı",
        "Karataş",
        "Kozan",
        "Pozantı",
        "Saimbeyli",
        "Sarıçam",
        "Seyhan",
        "Tufanbeyli",
        "Yumurtalık",
        "Yüreğir"
      ],
      Adıyaman: [
        "Besni",
        "Çelikhan",
        "Gerger",
        "Gölbaşı",
        "Kahta",
        "Merkez",
        "Samsat",
        "Sincik",
        "Tut"
      ],
      Afyonkarahisar: [
        "Başmakçı",
        "Bayat",
        "Bolvadin",
        "Çay",
        "Çobanlar",
        "Dazkırı",
        "Dinar",
        "Emirdağ",
        "Evciler",
        "Hocalar",
        "İhsaniye",
        "İscehisar",
        "Kızılören",
        "Merkez",
        "Sandıklı",
        "Sinanpaşa",
        "Sultandağı",
        "Şuhut"
      ],
      Ağrı: [
        "Diyadin",
        "Doğubayazıt",
        "Eleşkirt",
        "Hamur",
        "Merkez",
        "Patnos",
        "Taşlıçay",
        "Tutak"
      ],
      Amasya: [
        "Göynücek",
        "Gümüşhacıköy",
        "Hamamözü",
        "Merkez",
        "Merzifon",
        "Suluova",
        "Taşova"
      ],
      Ankara: [
        "Altındağ",
        "Ayaş",
        "Bala",
        "Beypazarı",
        "Çamlıdere",
        "Çankaya",
        "Çubuk",
        "Elmadağ",
        "Güdül",
        "Haymana",
        "Kalecik",
        "Kızılcahamam",
        "Nallıhan",
        "Polatlı",
        "Şereflikoçhisar",
        "Yenimahalle",
        "Gölbaşı",
        "Keçiören",
        "Mamak",
        "Sincan",
        "Kazan",
        "Akyurt",
        "Etimesgut",
        "Evren",
        "Pursaklar"
      ],
      Antalya: [
        "Akseki",
        "Alanya",
        "Elmalı",
        "Finike",
        "Gazipaşa",
        "Gündoğmuş",
        "Kaş",
        "Korkuteli",
        "Kumluca",
        "Manavgat",
        "Serik",
        "Demre",
        "İbradı",
        "Kemer",
        "Aksu",
        "Döşemealtı",
        "Kepez",
        "Konyaaltı",
        "Muratpaşa"
      ],
      Artvin: [
        "Ardanuç",
        "Arhavi",
        "Merkez",
        "Borçka",
        "Hopa",
        "Şavşat",
        "Yusufeli",
        "Murgul"
      ],
      Aydın: [
        "Merkez",
        "Bozdoğan",
        "Efeler",
        "Çine",
        "Germencik",
        "Karacasu",
        "Koçarlı",
        "Kuşadası",
        "Kuyucak",
        "Nazilli",
        "Söke",
        "Sultanhisar",
        "Yenipazar",
        "Buharkent",
        "İncirliova",
        "Karpuzlu",
        "Köşk",
        "Didim"
      ],
      Balıkesir: [
        "Altıeylül",
        "Ayvalık",
        "Merkez",
        "Balya",
        "Bandırma",
        "Bigadiç",
        "Burhaniye",
        "Dursunbey",
        "Edremit",
        "Erdek",
        "Gönen",
        "Havran",
        "İvrindi",
        "Karesi",
        "Kepsut",
        "Manyas",
        "Savaştepe",
        "Sındırgı",
        "Gömeç",
        "Susurluk",
        "Marmara"
      ],
      Bilecik: [
        "Merkez",
        "Bozüyük",
        "Gölpazarı",
        "Osmaneli",
        "Pazaryeri",
        "Söğüt",
        "Yenipazar",
        "İnhisar"
      ],
      Bingöl: [
        "Merkez",
        "Genç",
        "Karlıova",
        "Kiğı",
        "Solhan",
        "Adaklı",
        "Yayladere",
        "Yedisu"
      ],
      Bitlis: [
        "Adilcevaz",
        "Ahlat",
        "Merkez",
        "Hizan",
        "Mutki",
        "Tatvan",
        "Güroymak"
      ],
      Bolu: [
        "Merkez",
        "Gerede",
        "Göynük",
        "Kıbrıscık",
        "Mengen",
        "Mudurnu",
        "Seben",
        "Dörtdivan",
        "Yeniçağa"
      ],
      Burdur: [
        "Ağlasun",
        "Bucak",
        "Merkez",
        "Gölhisar",
        "Tefenni",
        "Yeşilova",
        "Karamanlı",
        "Kemer",
        "Altınyayla",
        "Çavdır",
        "Çeltikçi"
      ],
      Bursa: [
        "Gemlik",
        "İnegöl",
        "İznik",
        "Karacabey",
        "Keles",
        "Mudanya",
        "Mustafakemalpaşa",
        "Orhaneli",
        "Orhangazi",
        "Yenişehir",
        "Büyükorhan",
        "Harmancık",
        "Nilüfer",
        "Osmangazi",
        "Yıldırım",
        "Gürsu",
        "Kestel"
      ],
      Çanakkale: [
        "Ayvacık",
        "Bayramiç",
        "Biga",
        "Bozcaada",
        "Çan",
        "Merkez",
        "Eceabat",
        "Ezine",
        "Gelibolu",
        "Gökçeada",
        "Lapseki",
        "Yenice"
      ],
      Çankırı: [
        "Merkez",
        "Çerkeş",
        "Eldivan",
        "Ilgaz",
        "Kurşunlu",
        "Orta",
        "Şabanözü",
        "Yapraklı",
        "Atkaracalar",
        "Kızılırmak",
        "Bayramören",
        "Korgun"
      ],
      Çorum: [
        "Alaca",
        "Bayat",
        "Merkez",
        "İskilip",
        "Kargı",
        "Mecitözü",
        "Ortaköy",
        "Osmancık",
        "Sungurlu",
        "Boğazkale",
        "Uğurludağ",
        "Dodurga",
        "Laçin",
        "Oğuzlar"
      ],
      Denizli: [
        "Acıpayam",
        "Buldan",
        "Çal",
        "Çameli",
        "Çardak",
        "Çivril",
        "Merkez",
        "Merkezefendi",
        "Pamukkale",
        "Güney",
        "Kale",
        "Sarayköy",
        "Tavas",
        "Babadağ",
        "Bekilli",
        "Honaz",
        "Serinhisar",
        "Baklan",
        "Beyağaç",
        "Bozkurt"
      ],
      Diyarbakır: [
        "Kocaköy",
        "Çermik",
        "Çınar",
        "Çüngüş",
        "Dicle",
        "Ergani",
        "Hani",
        "Hazro",
        "Kulp",
        "Lice",
        "Silvan",
        "Eğil",
        "Bağlar",
        "Kayapınar",
        "Sur",
        "Yenişehir",
        "Bismil"
      ],
      Edirne: [
        "Merkez",
        "Enez",
        "Havsa",
        "İpsala",
        "Keşan",
        "Lalapaşa",
        "Meriç",
        "Uzunköprü",
        "Süloğlu"
      ],
      Elazığ: [
        "Ağın",
        "Baskil",
        "Merkez",
        "Karakoçan",
        "Keban",
        "Maden",
        "Palu",
        "Sivrice",
        "Arıcak",
        "Kovancılar",
        "Alacakaya"
      ],
      Erzincan: [
        "Çayırlı",
        "Merkez",
        "İliç",
        "Kemah",
        "Kemaliye",
        "Refahiye",
        "Tercan",
        "Üzümlü",
        "Otlukbeli"
      ],
      Erzurum: [
        "Aşkale",
        "Çat",
        "Hınıs",
        "Horasan",
        "İspir",
        "Karayazı",
        "Narman",
        "Oltu",
        "Olur",
        "Pasinler",
        "Şenkaya",
        "Tekman",
        "Tortum",
        "Karaçoban",
        "Uzundere",
        "Pazaryolu",
        "Köprüköy",
        "Palandöken",
        "Yakutiye",
        "Aziziye"
      ],
      Eskişehir: [
        "Çifteler",
        "Mahmudiye",
        "Mihalıççık",
        "Sarıcakaya",
        "Seyitgazi",
        "Sivrihisar",
        "Alpu",
        "Beylikova",
        "İnönü",
        "Günyüzü",
        "Han",
        "Mihalgazi",
        "Odunpazarı",
        "Tepebaşı"
      ],
      Gaziantep: [
        "Araban",
        "İslahiye",
        "Nizip",
        "Oğuzeli",
        "Yavuzeli",
        "Şahinbey",
        "Şehitkamil",
        "Karkamış",
        "Nurdağı"
      ],
      Giresun: [
        "Alucra",
        "Bulancak",
        "Dereli",
        "Espiye",
        "Eynesil",
        "Merkez",
        "Görele",
        "Keşap",
        "Şebinkarahisar",
        "Tirebolu",
        "Piraziz",
        "Yağlıdere",
        "Çamoluk",
        "Çanakçı",
        "Doğankent",
        "Güce"
      ],
      Gümüşhane: ["Merkez", "Kelkit", "Şiran", "Torul", "Köse", "Kürtün"],
      Hakkari: ["Çukurca", "Merkez", "Şemdinli", "Yüksekova"],
      Hatay: [
        "Altınözü",
        "Arsuz",
        "Defne",
        "Dörtyol",
        "Hassa",
        "Antakya",
        "İskenderun",
        "Kırıkhan",
        "Payas",
        "Reyhanlı",
        "Samandağ",
        "Yayladağı",
        "Erzin",
        "Belen",
        "Kumlu"
      ],
      Isparta: [
        "Atabey",
        "Eğirdir",
        "Gelendost",
        "Merkez",
        "Keçiborlu",
        "Senirkent",
        "Sütçüler",
        "Şarkikaraağaç",
        "Uluborlu",
        "Yalvaç",
        "Aksu",
        "Gönen",
        "Yenişarbademli"
      ],
      Mersin: [
        "Anamur",
        "Erdemli",
        "Gülnar",
        "Mut",
        "Silifke",
        "Tarsus",
        "Aydıncık",
        "Bozyazı",
        "Çamlıyayla",
        "Akdeniz",
        "Mezitli",
        "Toroslar",
        "Yenişehir"
      ],
      İstanbul: [
        "Adalar",
        "Bakırköy",
        "Beşiktaş",
        "Beykoz",
        "Beyoğlu",
        "Çatalca",
        "Eyüp",
        "Fatih",
        "Gaziosmanpaşa",
        "Kadıköy",
        "Kartal",
        "Sarıyer",
        "Silivri",
        "Şile",
        "Şişli",
        "Üsküdar",
        "Zeytinburnu",
        "Büyükçekmece",
        "Kağıthane",
        "Küçükçekmece",
        "Pendik",
        "Ümraniye",
        "Bayrampaşa",
        "Avcılar",
        "Bağcılar",
        "Bahçelievler",
        "Güngören",
        "Maltepe",
        "Sultanbeyli",
        "Tuzla",
        "Esenler",
        "Arnavutköy",
        "Ataşehir",
        "Başakşehir",
        "Beylikdüzü",
        "Çekmeköy",
        "Esenyurt",
        "Sancaktepe",
        "Sultangazi"
      ],
      İzmir: [
        "Aliağa",
        "Bayındır",
        "Bergama",
        "Bornova",
        "Çeşme",
        "Dikili",
        "Foça",
        "Karaburun",
        "Karşıyaka",
        "Kemalpaşa",
        "Kınık",
        "Kiraz",
        "Menemen",
        "Ödemiş",
        "Seferihisar",
        "Selçuk",
        "Tire",
        "Torbalı",
        "Urla",
        "Beydağ",
        "Buca",
        "Konak",
        "Menderes",
        "Balçova",
        "Çiğli",
        "Gaziemir",
        "Narlıdere",
        "Güzelbahçe",
        "Bayraklı",
        "Karabağlar"
      ],
      Kars: [
        "Arpaçay",
        "Digor",
        "Kağızman",
        "Merkez",
        "Sarıkamış",
        "Selim",
        "Susuz",
        "Akyaka"
      ],
      Kastamonu: [
        "Abana",
        "Araç",
        "Azdavay",
        "Bozkurt",
        "Cide",
        "Çatalzeytin",
        "Daday",
        "Devrekani",
        "İnebolu",
        "Merkez",
        "Küre",
        "Taşköprü",
        "Tosya",
        "İhsangazi",
        "Pınarbaşı",
        "Şenpazar",
        "Ağlı",
        "Doğanyurt",
        "Hanönü",
        "Seydiler"
      ],
      Kayseri: [
        "Bünyan",
        "Develi",
        "Felahiye",
        "İncesu",
        "Pınarbaşı",
        "Sarıoğlan",
        "Sarız",
        "Tomarza",
        "Yahyalı",
        "Yeşilhisar",
        "Akkışla",
        "Talas",
        "Kocasinan",
        "Melikgazi",
        "Hacılar",
        "Özvatan"
      ],
      Kırklareli: [
        "Babaeski",
        "Demirköy",
        "Merkez",
        "Kofçaz",
        "Lüleburgaz",
        "Pehlivanköy",
        "Pınarhisar",
        "Vize"
      ],
      Kırşehir: [
        "Çiçekdağı",
        "Kaman",
        "Merkez",
        "Mucur",
        "Akpınar",
        "Akçakent",
        "Boztepe"
      ],
      Kocaeli: [
        "Gebze",
        "Gölcük",
        "Kandıra",
        "Karamürsel",
        "Körfez",
        "Derince",
        "Başiskele",
        "Çayırova",
        "Darıca",
        "Dilovası",
        "İzmit",
        "Kartepe"
      ],
      Konya: [
        "Akşehir",
        "Beyşehir",
        "Bozkır",
        "Cihanbeyli",
        "Çumra",
        "Doğanhisar",
        "Ereğli",
        "Hadim",
        "Ilgın",
        "Kadınhanı",
        "Karapınar",
        "Kulu",
        "Sarayönü",
        "Seydişehir",
        "Yunak",
        "Akören",
        "Altınekin",
        "Derebucak",
        "Hüyük",
        "Karatay",
        "Meram",
        "Selçuklu",
        "Taşkent",
        "Ahırlı",
        "Çeltik",
        "Derbent",
        "Emirgazi",
        "Güneysınır",
        "Halkapınar",
        "Tuzlukçu",
        "Yalıhüyük"
      ],
      Kütahya: [
        "Altıntaş",
        "Domaniç",
        "Emet",
        "Gediz",
        "Merkez",
        "Simav",
        "Tavşanlı",
        "Aslanapa",
        "Dumlupınar",
        "Hisarcık",
        "Şaphane",
        "Çavdarhisar",
        "Pazarlar"
      ],
      Malatya: [
        "Akçadağ",
        "Arapgir",
        "Arguvan",
        "Darende",
        "Doğanşehir",
        "Hekimhan",
        "Merkez",
        "Pütürge",
        "Yeşilyurt",
        "Battalgazi",
        "Doğanyol",
        "Kale",
        "Kuluncak",
        "Yazıhan"
      ],
      Manisa: [
        "Akhisar",
        "Alaşehir",
        "Demirci",
        "Gördes",
        "Kırkağaç",
        "Kula",
        "Merkez",
        "Salihli",
        "Sarıgöl",
        "Saruhanlı",
        "Selendi",
        "Soma",
        "Şehzadeler",
        "Yunusemre",
        "Turgutlu",
        "Ahmetli",
        "Gölmarmara",
        "Köprübaşı"
      ],
      Kahramanmaraş: [
        "Afşin",
        "Andırın",
        "Dulkadiroğlu",
        "Onikişubat",
        "Elbistan",
        "Göksun",
        "Merkez",
        "Pazarcık",
        "Türkoğlu",
        "Çağlayancerit",
        "Ekinözü",
        "Nurhak"
      ],
      Mardin: [
        "Derik",
        "Kızıltepe",
        "Artuklu",
        "Merkez",
        "Mazıdağı",
        "Midyat",
        "Nusaybin",
        "Ömerli",
        "Savur",
        "Dargeçit",
        "Yeşilli"
      ],
      Muğla: [
        "Bodrum",
        "Datça",
        "Fethiye",
        "Köyceğiz",
        "Marmaris",
        "Menteşe",
        "Milas",
        "Ula",
        "Yatağan",
        "Dalaman",
        "Seydikemer",
        "Ortaca",
        "Kavaklıdere"
      ],
      Muş: ["Bulanık", "Malazgirt", "Merkez", "Varto", "Hasköy", "Korkut"],
      Nevşehir: [
        "Avanos",
        "Derinkuyu",
        "Gülşehir",
        "Hacıbektaş",
        "Kozaklı",
        "Merkez",
        "Ürgüp",
        "Acıgöl"
      ],
      Niğde: ["Bor", "Çamardı", "Merkez", "Ulukışla", "Altunhisar", "Çiftlik"],
      Ordu: [
        "Akkuş",
        "Altınordu",
        "Aybastı",
        "Fatsa",
        "Gölköy",
        "Korgan",
        "Kumru",
        "Mesudiye",
        "Perşembe",
        "Ulubey",
        "Ünye",
        "Gülyalı",
        "Gürgentepe",
        "Çamaş",
        "Çatalpınar",
        "Çaybaşı",
        "İkizce",
        "Kabadüz",
        "Kabataş"
      ],
      Rize: [
        "Ardeşen",
        "Çamlıhemşin",
        "Çayeli",
        "Fındıklı",
        "İkizdere",
        "Kalkandere",
        "Pazar",
        "Merkez",
        "Güneysu",
        "Derepazarı",
        "Hemşin",
        "İyidere"
      ],
      Sakarya: [
        "Akyazı",
        "Geyve",
        "Hendek",
        "Karasu",
        "Kaynarca",
        "Sapanca",
        "Kocaali",
        "Pamukova",
        "Taraklı",
        "Ferizli",
        "Karapürçek",
        "Söğütlü",
        "Adapazarı",
        "Arifiye",
        "Erenler",
        "Serdivan"
      ],
      Samsun: [
        "Alaçam",
        "Bafra",
        "Çarşamba",
        "Havza",
        "Kavak",
        "Ladik",
        "Terme",
        "Vezirköprü",
        "Asarcık",
        "Ondokuzmayıs",
        "Salıpazarı",
        "Tekkeköy",
        "Ayvacık",
        "Yakakent",
        "Atakum",
        "Canik",
        "İlkadım"
      ],
      Siirt: [
        "Baykan",
        "Eruh",
        "Kurtalan",
        "Pervari",
        "Merkez",
        "Şirvan",
        "Tillo"
      ],
      Sinop: [
        "Ayancık",
        "Boyabat",
        "Durağan",
        "Erfelek",
        "Gerze",
        "Merkez",
        "Türkeli",
        "Dikmen",
        "Saraydüzü"
      ],
      Sivas: [
        "Divriği",
        "Gemerek",
        "Gürün",
        "Hafik",
        "İmranlı",
        "Kangal",
        "Koyulhisar",
        "Merkez",
        "Suşehri",
        "Şarkışla",
        "Yıldızeli",
        "Zara",
        "Akıncılar",
        "Altınyayla",
        "Doğanşar",
        "Gölova",
        "Ulaş"
      ],
      Tekirdağ: [
        "Çerkezköy",
        "Çorlu",
        "Ergene",
        "Hayrabolu",
        "Malkara",
        "Muratlı",
        "Saray",
        "Süleymanpaşa",
        "Kapaklı",
        "Şarköy",
        "Marmaraereğlisi"
      ],
      Tokat: [
        "Almus",
        "Artova",
        "Erbaa",
        "Niksar",
        "Reşadiye",
        "Merkez",
        "Turhal",
        "Zile",
        "Pazar",
        "Yeşilyurt",
        "Başçiftlik",
        "Sulusaray"
      ],
      Trabzon: [
        "Akçaabat",
        "Araklı",
        "Arsin",
        "Çaykara",
        "Maçka",
        "Of",
        "Ortahisar",
        "Sürmene",
        "Tonya",
        "Vakfıkebir",
        "Yomra",
        "Beşikdüzü",
        "Şalpazarı",
        "Çarşıbaşı",
        "Dernekpazarı",
        "Düzköy",
        "Hayrat",
        "Köprübaşı"
      ],
      Tunceli: [
        "Çemişgezek",
        "Hozat",
        "Mazgirt",
        "Nazımiye",
        "Ovacık",
        "Pertek",
        "Pülümür",
        "Merkez"
      ],
      Şanlıurfa: [
        "Akçakale",
        "Birecik",
        "Bozova",
        "Ceylanpınar",
        "Eyyübiye",
        "Halfeti",
        "Haliliye",
        "Hilvan",
        "Karaköprü",
        "Siverek",
        "Suruç",
        "Viranşehir",
        "Harran"
      ],
      Uşak: ["Banaz", "Eşme", "Karahallı", "Sivaslı", "Ulubey", "Merkez"],
      Van: [
        "Başkale",
        "Çatak",
        "Erciş",
        "Gevaş",
        "Gürpınar",
        "İpekyolu",
        "Muradiye",
        "Özalp",
        "Tuşba",
        "Bahçesaray",
        "Çaldıran",
        "Edremit",
        "Saray"
      ],
      Yozgat: [
        "Akdağmadeni",
        "Boğazlıyan",
        "Çayıralan",
        "Çekerek",
        "Sarıkaya",
        "Sorgun",
        "Şefaatli",
        "Yerköy",
        "Merkez",
        "Aydıncık",
        "Çandır",
        "Kadışehri",
        "Saraykent",
        "Yenifakılı"
      ],
      Zonguldak: [
        "Çaycuma",
        "Devrek",
        "Ereğli",
        "Merkez",
        "Alaplı",
        "Gökçebey"
      ],
      Aksaray: [
        "Ağaçören",
        "Eskil",
        "Gülağaç",
        "Güzelyurt",
        "Merkez",
        "Ortaköy",
        "Sarıyahşi"
      ],
      Bayburt: ["Merkez", "Aydıntepe", "Demirözü"],
      Karaman: [
        "Ermenek",
        "Merkez",
        "Ayrancı",
        "Kazımkarabekir",
        "Başyayla",
        "Sarıveliler"
      ],
      Kırıkkale: [
        "Delice",
        "Keskin",
        "Merkez",
        "Sulakyurt",
        "Bahşili",
        "Balışeyh",
        "Çelebi",
        "Karakeçili",
        "Yahşihan"
      ],
      Batman: ["Merkez", "Beşiri", "Gercüş", "Kozluk", "Sason", "Hasankeyf"],
      Şırnak: [
        "Beytüşşebap",
        "Cizre",
        "İdil",
        "Silopi",
        "Merkez",
        "Uludere",
        "Güçlükonak"
      ],
      Bartın: ["Merkez", "Kurucaşile", "Ulus", "Amasra"],
      Ardahan: ["Merkez", "Çıldır", "Göle", "Hanak", "Posof", "Damal"],
      Iğdır: ["Aralık", "Merkez", "Tuzluca", "Karakoyunlu"],
      Yalova: [
        "Merkez",
        "Altınova",
        "Armutlu",
        "Çınarcık",
        "Çiftlikköy",
        "Termal"
      ],
      Karabük: [
        "Eflani",
        "Eskipazar",
        "Merkez",
        "Ovacık",
        "Safranbolu",
        "Yenice"
      ],
      Kilis: ["Merkez", "Elbeyli", "Musabeyli", "Polateli"],
      Osmaniye: [
        "Bahçe",
        "Kadirli",
        "Merkez",
        "Düziçi",
        "Hasanbeyli",
        "Sumbas",
        "Toprakkale"
      ],
      Düzce: [
        "Akçakoca",
        "Merkez",
        "Yığılca",
        "Cumayeri",
        "Gölyaka",
        "Çilimli",
        "Gümüşova",
        "Kaynaşlı"
      ]
    }
  }),
  computed: {
    ...mapGetters(["customer"]),
    getIl() {
      return Object.keys(this.locations);
    },
    getIlce() {
      return this.locations[this.customer.P_IL];
    }
  },
  methods: {
    updateCustomer() {
      this.$store.dispatch("updateCustomer", this.customer).then(() => {
        this.snackbarText = "Müşteri başarıyla güncellendi";
        this.snackbar = true;
      });
    },
    addTicket() {
      this.$store.dispatch("emitedCustomerPK", this.customer.PK);
      this.$router.push({
        path: `/talepler/yeni`
      });
    },
    editCustomer(item) {
      this.$router.push({
        path: `/talepler/${item.PK}/duzenle`
      });
    },
    createdDate(createdDate) {
      return moment(createdDate).format("llll");
    }
  },
  async created() {
    this.$store
      .dispatch("getCustomer", this.$route.params.id)
      .then(() => {
        this.$store.dispatch("getRequirements");
      })
      .catch(err => {
        alert(err);
      });
  }
};
</script>


