<template>
  <v-card>
    <v-row class="ml-2" justify="space-between" align="center" lg="2">
      <v-col class="pa-0 ma-0 ml-2" cols="4">
        <v-text-field label="Müşteri Ara" v-model="search"></v-text-field>
        <!-- <span>Müşteri Sayısı: {{customerCount}}</span> -->
      </v-col>
      <v-btn small to="/musteriler/yeni" class="mr-4" fab dark color="primary">
        <v-icon dark>mdi-plus</v-icon>
      </v-btn>
    </v-row>
    <v-data-table
      :footer-props="{ 'items-per-page-options': footerProps,
                           'items-per-page-text': 'Kalem:',
                           'items-per-page-all-text': 'Hepsi'}"
      v-model="selected"
      :headers="headers"
      :items="customers"
      :single-select="singleSelect"
      item-key="PK"
      dense
      show-select
      hide-default-footer
      class="elevation-1"
      :search="search"
      no-results-text="Sonuç bulunamadı"
      :options.sync="pagination"
    >
      <template v-slot:item.P_NAME="{ item }">
        <span class="on-hover" @dblclick="editCustomer(item)">{{item.P_NAME}}</span>
      </template>
      <template v-slot:item.P_ACTIVE="{ item }">
        <v-icon color="success" v-if="item.P_ACTIVE">mdi-marker-check</v-icon>
        <v-icon color="error" v-else>mdi-delete</v-icon>
      </template>
      <template v-slot:item.P_KARALISTE="{ item }">
        <v-icon small v-if="item.P_KARALISTE">mdi-block-helper</v-icon>
      </template>
      <template v-slot:item.action="{ item }">
        <v-icon small class="mr-2" @click="editCustomer(item)">mdi-pencil</v-icon>
      </template>
      <!-- <template v-slot:top>
        <v-switch v-model="singleSelect" label="Single select" class="pa-3"></v-switch>
      </template>-->
    </v-data-table>
    <v-pagination
      @input="paginationChangeHandler"
      :value="pagination.page"
      :length="pages"
      :total-visible="7"
      circle
    ></v-pagination>
  </v-card>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters(["customers", "customerCount"]),
    footerProps() {
      return [10, 25, 50, this.customerCount];
    },
    pages() {
      if (this.customerCount) {
        return Math.ceil(this.customerCount / this.pagination.itemsPerPage);
      }
      return 0;
    }
  },
  mounted() {
    this.$store
      .dispatch("getCustomers", {
        limit: this.pagination.itemsPerPage,
        offset: (this.pagination.page - 1) * 10
      })
      .then(() => {
        if (!this.customerCount) {
          this.$store.dispatch("getCustomerCount");
        }
      });
  },
  methods: {
    editCustomer(item) {
      this.$router.push({
        path: `/musteriler/${item.PK}/detay`
      });
    },
    paginationChangeHandler(pageNumber) {
      this.$store
        .dispatch("getCustomers", {
          limit: this.pagination.itemsPerPage,
          offset: (pageNumber - 1) * 10
        })
        .then(() => {
          this.pagination.page = pageNumber;
        });
    }
  },
  data() {
    return {
      search: "",
      singleSelect: false,
      pagination: { totalItems: 200, itemsPerPage: 10 },
      selected: [],
      headers: [
        {
          text: "Ad Soyad",
          align: "left",
          value: "P_NAME"
        },
        { text: "Telefon", value: "P_TELNO" },
        { text: "E-Posta", value: "P_EMAIL" },
        { text: "Adres", value: "P_ADRES" },
        { text: "İl", value: "P_IL" },
        { text: "İlçe", value: "P_ILCE" },
        { text: "Cinsiyet", value: "P_CINSIYET" },
        { text: "Active", value: "P_ACTIVE" },
        { text: "Karaliste", value: "P_KARALISTE" },
        { text: "", value: "action", sortable: false }
      ],
      tab: null,
      items: ["Appetizers", "Entrees", "Deserts", "Cocktails"],
      text:
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    };
  }
};
</script>
<style lang="scss">
.on-hover:hover {
  cursor: pointer;
}
.v-data-table td {
  font-size: 0.875rem;
  height: 38px;
}
</style>